@import 'components/common/common';

.cat-img-form {
	display: inline-block;
	width: 100%;
	height: 400px;
}

.info-map-box {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;

	.cat-info-form {
		display: inline-block;
		width: 40%;
		margin-right: 30px;
	}

	.cat-map {
		width: 60%;
		height: 400px;
	}
}
