@import '../../components/common/common';

@font-face {
  font-family: 'SurroundAir';
  src: url('../../fonts/Cafe24SsurroundAir.ttf');
}

.postdetail {
  //   text-align: center;
  font-family: 'SurroundAir';
}

.info {
  //   color: $;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  font-family: 'SurroundAir';
}

h5 {
  font-family: 'SurroundAir';
}
