@import 'components/Common/common';

.category {
  .category-ul {
    list-style: none;
    .category-li {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      font-size: xx-large;
      font-weight: bold;
    }
    .category-li:hover {
      color: $main-orange;
      cursor: pointer;
    }
  }
}
