@import 'components/common/common';

@font-face {
	font-family: 'Surround';
	src: url('../../../fonts/Cafe24Ssurround.ttf');
}

.subnav {
	width: 1500px;
}

// button {
//   border: none;
//   background-color: white;
//   font-size: 25px;
//   font-weight: bolder;
//   font-style: 'Surround';
//   margin-left: 30px;
//   margin-right: 30px;
// }

button:hover {
	color: $main-orange;
	cursor: pointer;
}

// .nav-link {
//   font-family: 'Surround';
//   font-size: 25px;
//   text-align: center;
//   color: #000;
//   text-decoration-line: none;
//   margin-left: 30px;
//   margin-right: 30px;
//   left: 50px;
// }

// .nav-link:hover {
//   color: $main-orange;
// }

.me-auto {
	text-align: center;
}
