@import 'components/Common/common';

.category {
  background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_line.png)
    0 100% repeat-x;

  .category-radio input[type='radio'] {
    display: none;

    & + span {
      display: inline-flex;
      justify-content: center;
      border-radius: 5px;
      background-color: none;
      border: none;
      font-size: xx-large;
      margin-bottom: 20px;
      cursor: pointer;
      width: 25%;
      height: 40px;
    }

    &:checked + span {
      color: $main-orange;
    }
  }

  .category-ul {
    list-style: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
    .category-li {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      font-size: xx-large;
      font-weight: bold;
    }
    .category-li:hover {
      color: $main-orange;
      cursor: pointer;
    }
    .category-li:visited {
      color: $main-orange;
    }
  }
}
