@import 'components/Common/common';

//WriteCategory.scss
.selects {
  width: 200px;
  text-align: center;
  height: 40px;
  font-size: 20px;
  border-color: $line-gray;
  color: $gray;
  float: left;
  border-radius: 10px;

  .selects:focus {
    outline: none;
  }

  .select option {
    color: black;
    height: 200px;
    border-radius: 10px;
  }
}

//WriteTitle.scss
.title-input {
  @extend %input-text;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  width: 800px;
  margin-bottom: 50px;
  margin-left: 0;
}

.title-input:focus {
  outline: none;
}

.write-title {
  padding-top: 60px;
}
