@import 'components/common/common';

.cat-img-upload-box {
	width: 100%;
	height: 300px;
	background-color: $white-gray;
	margin-bottom: 30px;
	text-align: center;
	vertical-align: middle;
}

.img-upload-button {
	@extend %button-square;
	width: 100px;
	height: 30px;
}

.img-preview {
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 300px;
}
