@import 'components/Common/common';

.cat-image-form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .cat-mainimg {
    width: 25%;
  }

  .cat-imgs {
    width: 75%;
  }
}
