@import 'components/common/common';

@font-face {
  font-family: 'SurroundAir';
  src: url('../../../../fonts/Cafe24SsurroundAir.ttf');
}

.selects {
  width: 200px;
  text-align: center;
  height: 40px;
  font-size: 20px;
  border-color: $line-gray;
  color: $gray;
  float: left;
  border-radius: 10px;

  .selects:focus {
    outline: none;
  }

  .select option {
    color: black;
    height: 200px;
    border-radius: 10px;
  }
}
