@import 'components/Common/common';

.content-container {
	.title {
		font-size: 24px;
		font-weight: 800;
		margin-bottom: 10px;
	}

	.button-box {
		margin: 80px 0px 80px 0px;

		.cat-delete-button {
			@extend %button-square;
			box-sizing: border-box;
			width: 49%;
			height: 40px;
			background-color: gray;
			margin-right: 1%;
		}

		.cat-other-button {
			@extend %button-square;
			box-sizing: border-box;
			width: 49%;
			height: 40px;
			margin-left: 1%;
		}
	}
}
