.cat {
  width: 70%;
  padding: auto;
  margin: auto;
  height: 300px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.cat-body-left {
  float: left;
  width: 40%;
  box-sizing: border-box;
}

.cat-body-left > img {
  margin: 10px 10px 0px 10px;
  border-radius: 15px;
  width: 90%;
  height: 240px;
}

.cat-body-left > h1 {
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  font-family: 'SurroundAir';
  text-align: center;
}

.cat-body-right {
  float: right;
  width: 60%;
  box-sizing: border-box;
}

.cat-body-right > div {
  margin: 20px 20px 20px 0px;
  font-size: 18px;
  font-weight: bold;
}

@font-face {
  font-family: 'SurroundAir';
  src: url('../../fonts/Cafe24SsurroundAir.ttf');
}
