@import 'components/common/common';

@font-face {
  font-family: 'SurroundAir';
  src: url('../../fonts/Cafe24SsurroundAir.ttf');
}

.mycat-container {
  width: 900px;
  margin: 0 auto;

  .mycat-sorting {
    float: right;
    margin-top: 20px;

    .sorting {
      width: 120px;
      text-align: center;
      height: 30px;
      font-size: 15px;
      border-radius: 5px;
      border-color: $line-gray;
      color: $gray;
    }
  }
}
