.mypage-container {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  .section1 {
    padding-top: 80px;
    float: left;
    width: 180px;
    height: 400px;
  }
  .section2 {
    padding-top: 80px;
    width: 600px;
    margin-left: 100px;
    height: 800px;
  }
}

.img-circle {
  margin: 10px 10px 0px 10px;
  width: 140px;
  height: 120px;
  border-radius: 30px;
}
.MyPost {
  display: flex;
}

@font-face {
  font-family: 'SurroundAir';
  src: url('../../fonts/Cafe24SsurroundAir.ttf');
}
