@import 'components/Common/common';

.postdetail {
  display: grid; // ??뭘까
  background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_line.png)
    0 100% repeat-x;

  .postdetail-header {
    background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_line.png)
      0 100% repeat-x;
  }
}

.postdetail-header-info {
  display: flex;
  .postdetail-header-info-like {
    margin-right: 50px;
  }
  .postdetail-header-info-comment {
    margin-right: 50px;
  }
  .postdetail-header-info-created_at {
    margin-right: 50px;
  }
}

.postdetail-title {
  display: flex;
  margin-right: 100px;
  font-size: 30px;
}

.postdetail-writer-info {
  @extend %user-info;
  display: flex;
  .postdetail-btn {
    @extend %button-square;
    margin: 10px;
    width: 80px;
    border-radius: 8px;
  }
  .postdetail-userimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.postdetail-content {
  margin: 0 auto;
  width: 1000px;
}
