@import 'components/Common/common';

.postdetail {
  display: grid; // ??뭘까
  background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_line.png)
    0 100% repeat-x;

  .info-header {
    background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_line.png)
      0 100% repeat-x;
  }
}

.info {
  display: flex;
  .info-like {
    margin-right: 50px;
  }
  .info-comment {
    margin-right: 50px;
  }
  .info-created_at {
    margin-right: 50px;
  }
}

.top-title {
  display: flex;
  margin-right: 100px;
  font-size: 30px;
}

.writer-info {
  @extend %user-info;
  display: flex;
}

.content {
  margin: 0 auto;
}
