@import '../../common/common';

.care-container {
	margin-top: 100px;
}
.care-box {
	background-color: $white-gray;
	padding: 30px;
}

.care-header {
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 30px;
	// border-bottom: $line;
}

.care {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
	// border-bottom: $line;
	// padding: 10px;
}

.user-img {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: gray;
	margin-right: 10px;
}
