.mypage-profile {
  margin-top: 20px;
  padding-top: 29px;
  background-color: #fff;
  text-align: center;
  .hello {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.25em;
  }
}
