.mat-p {
  margin: 40px 10px 10px 10px;
  text-align: center;
}
.mat-container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  zoom: 1;
}

.matchBox {
  width: 900px;
  height: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_line.png)
    0 100% repeat-x;
}

.mat-img {
  margin: 20px 10px 10px 10px;
  width: 200px;
  height: 200px;
  border-radius: 80px;
  display: inline-block;
}

.match1 {
  width: 400px;
  height: 450px;
  // border-radius: 60px;

  display: inline-block;
  background-color: #fbf8f8;
  text-align: center;
}
.match2 {
  width: 400px;
  height: 450px;
  // border-radius: 60px;
  display: inline-block;
  background-color: #fff8ea;
  text-align: center;
}

.match-btn {
  display: inline-block;
  height: 24px px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
  background-color: #eee;
  border-radius: 12px;
}
