@import 'components/Common/common';

.detail-right-nav {
  float: right;
  width: 10%;
  height: 1500px;
  .detail-like-btn {
    width: 80px;
    height: 80px;
    margin: 20px;
    top: 450px;
    position: fixed;
  }
  .detail-like-btn:hover {
    cursor: pointer;
  }
  .detail-write-btn {
    width: 80px;
    height: 80px;
    margin: 20px;
    top: 580px;
    position: fixed;
  }
}

.detail-postdetail {
  height: auto;
}

.detail-commentwrite {
  width: 90%;
  height: 100px;
  margin-top: 80px;
}

.detail-commentlist-info {
}

.detail-commentlist {
}
