@import 'components/Common/common';

.post-comment {
  display: grid;
}

.writer-info {
  @extend %user-info;
  width: 10%;
}

.content-comment {
  width: 90%;
  margin-left: 20px;
  margin-top: 20px;
}
