@import 'components/Common/common';

.comment {
  display: flex;
  width: 100%;
  height: 70px;
  border-radius: 2px;
  font-size: 15px;
  border: 1px solid $gray;
}

.comment-input {
  @extend %input-text;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.comment-btn {
  @extend %button-square;
  width: 100px;
  height: 50%;
  box-shadow: none;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  margin-top: 25px;
  margin-right: 15px;
}

.comment-btn:hover {
  cursor: pointer;
}
