@import 'components/Common/common';

@font-face {
  font-family: 'SurroundAir';
  src: url('../../../fonts/Cafe24SsurroundAir.ttf');
}

.sorting {
  width: 150px;
  text-align: center;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  border-color: $line-gray;
  color: $gray;
  margin-right: 150px;
}

.sorting:focus {
  outline: none;
}

.sorting .option {
  color: black;
  //   height: 200px;
  //   border-radius: 5px;
}

// .sorting .option:hover {
//   background-color: $pink;
//   cursor: pointer;
// }
