.mypage-container {
	width: 1180px;
	margin: 0 auto;
	display: flex;
	.section1 {
		padding-top: 80px;
		float: left;
		width: 180px;
		height: 400px;
	}
	.section2 {
		padding-top: 80px;
		width: 600px;
		margin-left: 100px;
		height: 800px;
	}
}

.MyPost {
	display: flex;
}
