@import 'components/common/common';

@font-face {
  font-family: 'SurroundAir';
  src: url('../../../fonts/Cafe24SsurroundAir.ttf');
}

.right-nav {
  float: right;
  width: 10%;
}

.sorting-wrapper {
  float: right;
  margin-right: 5px;
  margin-top: 50px;
}
