@import 'components/Common/common';

.right-nav {
  float: right;
  width: 10%;
}

.nav-wrapper {
  padding-bottom: 40px;
}

.sorting-wrapper {
  float: right;
  margin-right: 5px;
  margin-top: 50px;
}

.postlist-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 365px);
  column-gap: 3px;
  row-gap: 5px;
  justify-content: center;
  width: 90%;
  float: left;
  padding-left: 20px;
  margin: 0;
}
