@import '../../common/common';

.info-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cat-img {
	width: 45%;
	height: 400px;
	border-radius: 60px;
	display: inline-block;
}

.cat-info {
	width: 45%;
}

.cat-info > * {
	margin-bottom: 20px;
}

.cat-name {
	font-size: 30px;
	font-weight: 800;
}

.cat-status {
	position: relative; // react-power-tooltip 쓰려면 반드시 relative 설정해줘야한다고 함
	width: 100px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	margin-left: 30px;
	cursor: pointer;
}

.carer-header {
	font-weight: 600;
	margin: 60px 0 10px 0;
}

.carer-wrapper {
	display: flex;
	justify-content: flex-start;
}

.carer {
	margin-right: 20px;
}

.carer-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: gray;
	margin-bottom: 10px;
}

.carer-name {
	text-align: center;
}
